<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BAT tests">
    <listeners>
		<listener class-name="referee.CustomListener"/>
	</listeners>
  <test name="Only_Smoke_Test">
    <classes>
      <class name="tournament.Smoke_test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
