<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BAT tests">
    <listeners>
		<listener class-name="referee.CustomListener"/>
	</listeners>
  <test name="Only_Smoke_Test">
      <parameter name="test" value="Companion_BAT_Android"></parameter>
      <parameter name="host" value="cloud"></parameter>
      <parameter name="engine" value="android"></parameter>
      <parameter name="env" value="stage"></parameter>
    <classes>
      <class name="tournament.Smoke_test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
